<body>
     <div class="container">
          <div class = "row">
               <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                         <img src = 'http://res.cloudinary.com/dihqhbf9i/image/upload/v1492930747/My_Doodle_lv4mvi.png' class = "img-responsive">
               </div>
          </div>
          <section id = "about-us">
               <div class = "row">
                    <div class = "about-container">
                         <h4 class = "text-center menu-title"> ABOUT US </h4>
                         <hr>
                         <div class = "row about-content">
                              <div class = "col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                   <img src = "http://res.cloudinary.com/dihqhbf9i/image/upload/v1492949154/about_us_sk9lab.png" class ="img-responsive">
                              </div>

                              <div class = "col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                   <p class = "about-description">&nbsp&nbsp&nbsp&nbsp&nbspWe are pround supporters of local community organisations working with children in need. We provide them a platform to share the doodles and drawings of children with the world. The money generated from the sales goes back to those organisations for providing for the needs of the children and their community.</p>
                                    <p class = "about-description">&nbsp&nbsp&nbsp&nbsp&nbspWe make sure that our local  partners are genuine with strict screening process before accepting them as our partners. If you are local organisations wanting to share the doodles of your children, please contact us to know about the procedure to apply to start the partnership with us.</p>
                              </div>
                         </div>
                         <hr>
                    </div>
               </div>
          </section>

          <div class = "row">
               <div class = "img-collection">
                    <h4 class = "img-collection-title text-center"> Find images for your project <!--<span class = "actions"><a href = "#">Click here for more images >></a></span>--></h4>
                    <div class = "img-card-parent">
                              <% @images.each do |image| %>
                                   <div class = "img-card-child">
                                        <%= link_to image_tag(image.picture.url), image_path(image) %>
                                   </div>
                              <% end%>
                         </div>
                    </div>
               </div>
               <hr>
               <br>

               <!-- contact form -->
               <div id = "contact-us">
                    <%= render 'partials/contactform' %>
                    <br>
               <div>
     </div> <!--container end-->
</body>
