<h1>Welcome to Dream, Doodle, Design App</h1>
<p>Ready for inital commit</p>
<a href="	https://s3-ap-southeast-2.amazonaws.com/dreamdoodledesignimages/uploads/image/picture/4/mandala-1778395_640.png" target="_blank"download="filename">download</a>
<button type="submit" onclick="window.open('https://s3-ap-southeast-2.amazonaws.com/dreamdoodledesignimages/uploads/image/picture/4/mandala-1778395_640.png')">Download!</button>
