<div class = "container">
     <div class = "panel panel-default contact-success-msg text-center">
          <div class = "panel-heading"><h4> Contact Us </h4></div>
          <div class = "panel-body"><h5>Thank you for your message. We'll get back to you soon. </h5></div>
     </div>
</div>
