.navbar {
     background-color: transparent !important;
     border: 0;
     box-shadow: none;
     margin-top: 1%;
     font-family: lato, sans-serif !important;
}
.navbar .navbar-brand {
     font-size: 20px !important;
     font-family: 'Alfa Slab One', cursive;
     color: #000000 !important;
}
.user-name {
  margin-right: 50px;
  padding: 0 !important ;
  padding-left: 5px;
  padding-top: 5px !important;
  text-align: center;
  font-family: lato, sans-serif;

  a {
      margin: 0 !important;
      padding: 5px!important;
  }
  a:hover, a:focus {
    color: #000 !important;
  }
}

.nav.navbar-right {
  padding-bottom: 10px;
  padding-top: 5px;
}
.nav.navbar-right li {
  .btn {
    color: #fff !important;
    // margin-top: -10%;
  }
  .btn-danger {
      border-radius: 20em;
      background-color : #ff78bb !important;
      border: none !important;
      font-family: lato, sans-serif;
       font-weight: bold;
       font-size: 1em;
       letter-spacing: 0.1em;
       text-decoration: none;
       color: #fff !important;
       margin-top: -10px;
 }
  .btn-danger:hover, .btn-danger:focus {
    background-color: darken(#ff78bb,5%) !important;
  }
 .btn-default{
      background-color: #fff !important;
      border-radius: 75em;
      border: 2.5px solid #ff78bb !important;
      font-family: lato,sans-serif;
       font-weight: bold;
       font-size: 1em;
       letter-spacing: 0.1em;
       text-decoration: none;
       color: #033b4b !important;
       margin-top: -10px;
}
  .btn-default:hover, .btn-default:focus {
    background-color: #ff78bb !important;
    color: #fff !important;
  }
}
.action {
     display:block;
}
.btn-custom-square{
     background-color: #fff !important;
     border: 2.5px solid #ff78bb !important;
     font-family: lato,sans-serif;
      font-weight: bold;
      font-size: 17px;
      letter-spacing: 0.1em;
      text-decoration: none;
      color: #033b4b !important;
      margin-top: -10px;
      padding: 10px 20px 10px 20px;
}

.btn-custom-square:hover, .btn-custom-square:focus {
 background-color: darken(#ff78bb, 10%) !important;
 border-color: darken(#ff78bb, 10%) !important;
 color: #fff !important;
}

.btn-custom-fill-square {
     background-color : darken(#ff78bb, 20%) !important;
     border: none !important;
     font-family: lato, sans-serif;
      font-weight: bold;
      font-size: 1em;
      letter-spacing: 0.1em;
      text-decoration: none;
      color: #fff !important;
}
 .btn-custom-fill-square:hover, .btn-custom-fill-square:focus {
   background-color: darken(#ff78bb,10%) !important;
 }

.charge-message {
     margin-top: 5%;
     font-size: 18px;
}

.btn-danger{
     background-color : darken(#ff78bb, 30%) !important;
     border: none !important;
}
.btn-danger:hover, .btn-danger:focus {
  background-color: #ff78bb !important;
}

.btn-danger:visited{
     background-color : darken(#ff78bb, 30%) !important;
     border: none !important;
}
