<div class = "container">
     <div class = "panel panel-default contact-success-msg text-center">
          <div class = "panel-heading"><h4> Payment Success! </h4></div>
               <div class = "panel-body">
                    <h5>Thanks, you paid <strong>$1.00</strong>! Please click the button below to download the image. </h5>
                    <br>
                    <br>
                    <a href="<%= @image.picture.url%>" target="_blank" download="filename" class = "btn btn-custom-square" >Download</a>
               </div>
     </div>
</div>
